/* Slider */
@import '~/assets/scss/_variables.scss';
@import '~/assets/scss/_globals.scss';
@import '~/assets/scss/_buttons.scss';
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
  max-height:100vh;
}
.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
  height: 100%;   
  max-height:100vh;
  height:700px;
  @include tablet {
    height:700px;
  }
  @include desktop-small {
    height:100vh;
  }
  @include desktop-big {
    height:100vh;
  }

  &:focus {
      outline: none;
  }

  &.dragging {
      cursor: pointer;
      cursor: hand;
  }
}
.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
  height:700px;
  @include tablet {
    height:700px;
  }
  @include desktop-small {
    height:100vh;
  }
  @include desktop-big {
    height:100vh;
  }

  &:before,
  &:after {
      content: "";
      display: table;
  }

  &:after {
      clear: both;
  }

  .slick-loading & {
      visibility: hidden;
  }
}
.slick-slide {
  float: left;
  max-height:100vh;
  min-height: 1px;
  height:700px;
  @include tablet {
    height:700px;
  }
  @include desktop-small {
    height:100vh;
  }
  @include desktop-big {
    height:100vh;
  }
  [dir="rtl"] & {
      float: right;
  }
  img {
      display: block;
      width:100%;
      height:700px;
      @include tablet {
        height:700px;
      }
      @include desktop-small {
        height:100vh;
      }
      @include desktop-big {
        height:100vh;
      }
      

  }
  &.slick-loading img {
      display: none;
  }

  display: none;

  &.dragging img {
      pointer-events: none;
  }

  .slick-initialized & {
      display: block;
  }

  .slick-loading & {
      visibility: hidden;
  }

  .slick-vertical & {
      display: block;
      height: auto;
      border: 1px solid transparent;
  }
}
.slick-arrow.slick-hidden {
  display: none;
}

.slick-dots
{
    position: absolute;
    bottom: 0;
    z-index: 1;
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;

    @include desktop-small {
      text-align: center;
      bottom: 0;
      left:inherit;
    }
    @include desktop-big {
      text-align: center;
      bottom: 0;
      left:inherit;
    }
}
.slick-dots li
{
    position: relative;
    display: inline-block;
    background: rgba(255,255,255,0.6);
    width: 15px;
    height: 1px;
    margin: 0 5px;
    padding: 0;
    transition: all 0.5s ease;

    cursor: pointer;
}
.slick-dots li button
{
    font-size: 0;
    line-height: 0;

    display: block;

    width: 30px;
    height: 20px;
    padding: 5px;

    cursor: pointer;

    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
}
.slick-dots li button:hover,
.slick-dots li button:focus
{
    outline: none;
}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before
{
    opacity: 1;
}
.slick-dots li button:before
{
    font-family: 'slick';
    font-size: 6px;
    line-height: 20px;

    position: absolute;
    top: 0;
    left: 0;

    width: 30px;
    height: 20px;

    content: '•';
    text-align: center;

    opacity: .25;
    color: black;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before
{
    opacity: .75;
    color: black;
}

.slick-dots li.slick-active {
  background: $color-blue;
  transition: all 0.5s ease;
}
